<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>

<p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFull_name()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getBook_id()})}" th:object="${book}">
        <label for="person">Эта книга свободна. Кому назначить ее?</label>
        <br/>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFull_name()}">
            </option>
        </select>

        <input type="submit" value="Назначить книгу"/>

    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBook_id()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>